extends layout

block content
  div(class="papaya" data-params="params")

  script(type='text/javascript' src='papaya.js')
  script(type='text/javascript').
    var params = [];
    params['images'] = [''];

